@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500&display=swap');

/* Colours */

.bg-darkblue {
  background-color: #0B1629;
  border: none;
}

.bg-lightgreen {
  background-color: #F8F9FA;
  border: none;
}

/* Login */

.login-box {
  margin-top: 55px;
}

.inner-login-box  {
  padding: 50px 50px 50px 50px;
  border-radius: 20px;
}

.login-box .btn-login:hover {
  background-color: #111F38;
}

.login-box input::placeholder {
  font-size: 14px;
}


/* Input Dashboard */

.navbar-expand {
  background-color: #F8F9FA;
}
.nav-item a span {
  font-family: "Poppins", Helvetica, sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #000;
}

.nav-heading {
  font-family: "Poppins", Helvetica, sans-serif;
  font-size: 10px !important;
  line-height: 17px;
}

.user-profile a span {
  font-family: "Poppins", Helvetica, sans-serif;
  padding-right: 10px;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 17px;
}

.page-heading h1 {
  font-family: "Poppins", Helvetica, sans-serif;
  color: #0B1629;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 72px;
}

.panel-single-card {
  background-color: #0B1629;
  border-radius: 10px;
  border: none;
}

.panel-single-card:hover {
  background-color: #111F38;
  border-radius: 10px;
}

.panel-single-card .h5 {
  font-family: "Poppins", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 27px;
}

.panel-single-card .h6 {
  padding: 26px 0;
  font-family: "Poppins", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 27px;
}


/* View Dashboard */

.navbar-brand {
  font-family: "Poppins", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 34px;
}

.nav-link {
  font-family: "Poppins", Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  padding: 4px 0 0 0;
}
.heading {
  padding: 10px 0 10px 30px;
  border-radius: 14px;
}

.time-nav .nav-item a  {
  color: #858796;
}

.time-nav .nav-item .active {
  color: #0B1629;
}

.time-nav .nav-item a:hover {
  color: #0B1629;
  text-decoration: underline;
}

/* summary-card */

.summary-card .card {
  background-color: #E4F8CF;
  border: none;
  border-radius: 10px;
}

.summary-card .card .card-body img {
  max-width: 30px;
}

.summary-card .card .card-body h2 {
  color: #000;
  font-family: "Poppins", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 27px;
}

.summary-card .card .card-body h5 {
  color: #000;
  font-family: "Poppins", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.summary-card .card .card-body span {
  color: #858796!important;
  padding: 30px 0 0 44px;
  font-family: "Poppins", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
}

/* category-summary-card */

.category-summary-card .card {
  background-color: #E4F8CF;
  border: none;
  border-radius: 10px;
}

.category-summary-card .card .card-body img {
  max-width: 30px;
}

.category-summary-card .card .card-body h2 {
  color: #000;
  font-family: "Poppins", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 27px;
}

.category-summary-card .card .card-body h5 {
  color: #000;
  font-family: "Poppins", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.category-summary-card .card .card-body ul li {
  list-style: none;
}

.category-summary-card .card .card-body span {
  color: #858796!important;
  font-family: "Poppins", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
}

.category-summary-card .card .card-body .donut-chart canvas {
  max-width: 140px !important;
  max-height: 140px !important;
}

/* single-card-item */

.single-card {
  background-color: #0B1629;
  border-radius: 10px;
  border: none;
  min-height: 242px;
}

.single-card:hover {
  background-color: #111F38;
  border-radius: 10px;
}

.single-card .item-card-title {
  font-family: "Poppins", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.single-card .item-card-subtitle {
  font-family: "Poppins", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 100 !important;
  font-size: 20px;
  line-height: 27px;
}

.single-card .donut-chart canvas {
  max-width: 100px !important;
  max-height: 100px !important;
}

.single-card .item-card-subtitle span {
  font-family: "Poppins", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 100 !important;
  font-size: 12px;
  line-height: 27px;
}

.single-card .item-card-value {
  font-family: "Poppins", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 100 !important;
  font-size: 16px;
  line-height: 27px;
}

.single-card .item-card-company {
  font-family: "Poppins", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500 !important;
  font-size: 12px;
  line-height: 27px;
}

.single-card .item-card-info {
  font-family: "Poppins", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300 !important;
  font-size: 10px;
  line-height: 16px;
}

.single-card .h5 {
  font-family: "Poppins", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 27px;
}

.single-card .h6 {
  padding: 26px 0;
  font-family: "Poppins", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 27px;
}

.table {
  color: #0B1629;
}

.table tr th {
  font-family: "Poppins", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}

.table tr td {
  font-family: "Poppins", Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}